body{
    color: black;
    align-content: center;
    background-color:burlywood;
}

.navbar{
    color: white;
    font-weight: bold;
    background-color: maroon;
}
.custom_logo{
    margin: 2%;
    align-content: center;
}

h3{
    padding: 1%;
    font-family: Rockwell;
    color: white;
}
.form-group{
    margin: 5%;
    padding: 2%;
}

.btn{
    margin: 2%;
}